@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  font-family: normal;
}

#products {
  display: flex;
  flex-wrap: wrap;
  font-family: normal;
  padding: 20px 0;
  gap: 30px;
  justify-content: center;
}

#basket {
  font-family: normal;
  padding: 20px 0;
}
